<!-- Toolbar -->

<div class="body">
  <div class="toolbar" role="banner">
    <span>Task Master</span>
  </div>

  <!-- <app-task-list></app-task-list> -->
  <!-- <mat-tab-group> -->
    <!-- <mat-tab label="Tab 1" routerLink="/tab1"></mat-tab>
    <mat-tab label="Tab 2" routerLink="/tab2"></mat-tab> -->
    <!-- <mat-tab label="Tab 1" routerLink="/tab1" routerLinkActive="mat-tab-label-active"></mat-tab>
<mat-tab label="Tab 2" routerLink="/tab2" routerLinkActive="mat-tab-label-active"></mat-tab> -->
<!-- <mat-tab label="Tab 3" routerLink="/tab3" routerLinkActive="mat-tab-label-active"></mat-tab> -->
  <!-- </mat-tab-group> -->
  <ul class="menu-list">
    <li [ngClass]="{'active-tab': tabname === 'tab1'}"><a (click)="navigation('tab1')">Task Details</a></li>
    <li [ngClass]="{'active-tab': tabname === 'tab2'}"><a (click)="navigation('tab2')">Task Description</a></li>
    <li [ngClass]="{'active-tab': tabname === 'tab3'}"><a (click)="navigation('tab3')">Kanban Board</a></li>
    <!-- <li><a (click)="navigation('entity-details')">AI Advisor</a></li>
    <li><a (click)="navigation('entity-details')">Report</a></li> -->
</ul>

  <div class="content" role="main">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <div *ngIf="isLoading">
  <app-loader></app-loader>
</div> -->